@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700&display=swap');

$musblack: #20201E;
$musred: #B71C1C;
$spotify: #1DB954;
$lastfm: #ba0000;


@-webkit-keyframes red-cursor /* Safari and Chrome */ {
  50% {
    background-color: $musred;
  }
}
@keyframes red-cursor {
  50% {
    background-color: $musred;
  }
}

.full-width {
  width: 100%;
}

.flex {
  display: flex;
}

body {
  background-color: lighten($musblack, 4%);
  color: white;
  margin: 0px;
  font-family: 'Roboto Mono', monospace;
  word-wrap: break-word;
}

header {
  background: linear-gradient(360deg, lighten($musblack, 4%) 0%, $musblack 100%);
  // background-color: linear-gradient(0deg, white, $musblack 100%);
  height: 500px;
}

@media  only screen and (max-width: 530px) {
  header {
    height: 700px !important;
  }
}

.navbar {
  color: white;
}

.navbar-brand {
  font-size: 30px;
}

.nav-link {
  margin-right: 23px;
  margin-left: 23px;
  font-size: 20px;
  vertical-align: middle;
}

.nav-link:hover {
  color: white !important;
  background-color: $musred;
}

.navbar-collapse {
  vertical-align: middle;
}

.logo-icon {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid white;
}

.navbar-toggler {
  border: none !important;
}

.title {
  text-align: center;
  margin-top: 60px;
}

.title img {
  width: 230px;
}

.title-text {
  font-size: 100px;
}

.red-cursor {
  -webkit-animation: red-cursor step-start 2s infinite;
  -moz-animation: red-cursor step-start 2s infinite;
  -ms-animation: red-cursor step-start 2s infinite;
  -o-animation: red-cursor step-start 2s infinite;
  animation: red-cursor step-start 2s infinite;
}

.header-text {
  font-size: 20px;
}

.experiment-module-img {
  width: 100%;
}

.experiment-module {
  margin-top: 18px;
}

.experiment-module-name {
  background-color: $musred;
  margin-top: 10px;
  margin-bottom: 5px;
}

.router-link {
  color: inherit;
}

.router-link:hover {
  color: inherit;
  text-decoration: inherit;
}

.router-link:focus {
  color: inherit;
}

.experiment-header {
  text-align: center;
  margin-top: 80px;
  font-size: 3rem;
  margin-left: 20px;
  margin-right: 20px;
}

.experiment-header > .header {
  text-decoration: underline;
  text-decoration-color: $musred;
}


.experiment-header > .decription {
  font-size: 1.3rem;
  text-decoration: none;
  text-decoration-color: rgba(0, 0, 0, 0);

}

.spotify-button {
  margin-left: 20px;
  background-color: $spotify;
  border: none;
  color: white;
  padding: 8px 18px;
  transition: 0.2s;
  outline: none;
  border-radius: 20px;
  font-weight: 600;
  max-width: 270px;
}

.spotify-button:hover {
  background-color: darken($spotify, 8%);
  transform: scale(1.02);
}

.spotify-button:active {
  background-color: darken($spotify, 18%);
  outline: none;
  transform: scale(0.97);
}

.lastfm {
  background: $lastfm;
  width: 100%;
}

.spotify-button.lastfm:hover {
  background-color: darken($lastfm, 8%);
}

.spotify-button.lastfm:active {
  background-color: darken($lastfm, 18%);
}

.spotify-button:focus {
  outline: none;
}

.spotify-button:disabled {
  background-color: grey;
}

.spotify-button.lastfm:disabled {
  background-color: grey;
}

.account-selector-center {
  text-align: center;
}

.input {
  background: transparent;
  color: white;
  font-family: "Roboto Mono", monospace;
  border: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.55);
  transition: 0.4s;
  max-width: 280px;
  margin-bottom: 28px;
}

.input:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}

.input:focus {
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  outline: none;
}

.account-selector-form-col {
  margin-bottom: 25px;
  margin-top: 25px;
  text-align-last: center;
}

.account-selector-center-y {
  align-self: center;
}

.scaffold-section {
  margin-top: 30px;
}

a {
  color: $musred;
}

a:hover {
  color: lighten($musred, 10%);
}
.loading-bar {
  text-align: center;
}
.loading-bar > .bar {
  background-color: rgba($musred, 0.3);
  height: 6px;
}

.loading-bar > .percent {
  font-size: 2rem;
}

.loading-bar > .bar > div {
  background-color: $musred;
  height: 100%;
  transition: 0.2s;
}

.mainstream > .avg {
  font-size: 6rem;
  display: flex;
  justify-content: center;

}

.mainstream > .avg > .percent {
  background-color: $musred;
  padding: 0px 18px;
  border-radius: 6px;
  font-size: 6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.mainstream > .avg > .percent > .text {
  font-size: 1.3rem;
  margin-top: -25px;
  margin-bottom: 15px;
}

.mainstream > .avg > p {
  font-size: 3rem;
}

@media (max-width: 600px) {
  .mainstream > .avg > .percent {
    font-size: 3rem;
  }
}

$mainstreamItemSize: 60px;
.mainstream > .item {
  display: flex;
  //background-color: rgba(255, 255, 255, 0.03);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  margin-bottom: 8px;
  padding: 8px 8px 16px;
  justify-content: space-between;
}

.mainstream > .item > div {
  display: flex;
  justify-content: space-between;
}

.mainstream > .item > div > .text, .mainstream > .item > .text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mainstream > .item > div > .name {
  margin-left: 16px;
  font-weight: bold;
  font-size: 1.3rem;
}

.mainstream > .item > div > .image {
  width: $mainstreamItemSize !important;
  height: $mainstreamItemSize !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 400px;
}
